.root__element {
  font-size: 6px;
  overflow-x: hidden; }

#grilla1CA {
  display: grid;
  grid-template-areas: "h" "mainCA" "f";
  grid-template-rows: 150px auto 0.1fr;
  grid-template-columns: 100%;
  overflow-y: hidden; }

#mainCA {
  height: 100%;
  grid-area: mainCA;
  display: grid;
  grid-template-areas: "intro" "nombreapellidoyfecha" "formcasas" "resultadosexternos" "tablaplanetas" "resultado" "paper" "resultadosanteriores";
  grid-template-rows: 0.15fr 0.3fr 3fr auto auto 0fr auto 0.8fr;
  grid-template-columns: 100%; }

.resultadosExternos {
  background-color: rgba(0, 133, 250, 0.844); }
  .resultadosExternos__div__regentes__titulo {
    font-family: "Work Sans", sans-serif;
    font-size: 5rem; }
  .resultadosExternos__div__regentes__div2__titulo {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__regentes__div2__UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__titulo {
    font-family: "Work Sans", sans-serif;
    font-size: 5rem; }
  .resultadosExternos__div__titulo2 {
    font-family: "Work Sans", sans-serif;
    font-size: 5rem; }
  .resultadosExternos__div__conjunciones__titulo {
    font-family: "Work Sans", sans-serif;
    font-size: 5rem; }
  .resultadosExternos__div__conjunciones__div2__ul {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa1 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa2 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa3 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa4 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa5 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa6 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa7 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa8 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa9 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa10 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa11 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa12 {
    font-family: "Work Sans", sans-serif;
    font-size: 4rem; }
  .resultadosExternos__div__div2__casa1UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa2UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa3UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa4UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa5UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa6UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa7UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa8UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa9UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa10UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa11UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }
  .resultadosExternos__div__div2__casa12UL {
    font-family: "Work Sans", sans-serif;
    font-size: 3rem; }

.resultadosExternos {
  grid-area: resultadosexternos; }

.dibujocarta {
  grid-area: paper;
  background-color: rgba(0, 0, 225, 0.392); }
  .dibujocarta__titulo {
    font-family: "Bitter", serif;
    font-size: 5rem;
    padding: 5px;
    position: relative;
    right: -35%;
    color: aliceblue; }
  .dibujocarta #dibujarcarta {
    font-family: "Bitter", serif;
    font-size: 3rem;
    position: relative;
    right: -40%;
    top: -0%;
    margin: 3rem; }

.resultadosanteriores {
  overflow: scroll;
  grid-area: resultadosanteriores;
  font-family: "Work Sans", sans-serif;
  font-size: 2.3rem;
  font-weight: 900; }
  .resultadosanteriores__titulo {
    font-family: "Bitter", serif;
    font-size: 5rem;
    padding: 5px;
    position: relative;
    right: -35%;
    color: aliceblue; }
  .resultadosanteriores input,
  .resultadosanteriores h5 {
    font-size: 2.3rem;
    font-weight: 900; }

#header {
  grid-area: h;
  background-color: #002f6d;
  height: auto; }
  #header__titulo {
    font-family: "Bitter", serif;
    font-size: 6rem; }
  #header img {
    width: 180px;
    height: 180px; }

#exampleModalLong {
  font-family: "Mulish", sans-serif;
  font-size: 5rem; }

.resultadosAnterioresBusqueda {
  color: blue;
  font-size: 10px;
  font-style: italic; }

.intro {
  grid-area: intro;
  background-color: darkgray; }
  .intro p,
  .intro a {
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    width: 80%;
    position: relative;
    right: -10%; }

.nombreapellidoyfecha {
  grid-area: nombreapellidoyfecha;
  background-color: #002f6dd4;
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
  font-weight: 900; }
  .nombreapellidoyfecha__titulo {
    font-family: "Bitter", serif;
    font-size: 5rem;
    padding: 5px;
    position: relative;
    right: -35%;
    color: aliceblue; }
  .nombreapellidoyfecha__div {
    padding: 20px;
    display: flex;
    flex-direction: row; }
    .nombreapellidoyfecha__div input {
      font-size: 3rem;
      font-weight: 900;
      padding: 10px; }
    .nombreapellidoyfecha__div p {
      padding: 10px; }

.titulotradu {
  font-family: "Bitter", serif;
  font-size: 5rem;
  padding: 5px;
  position: relative;
  right: -35%;
  color: aliceblue; }

.ptradu {
  padding: 3px;
  width: 85%;
  position: relative;
  right: -10%;
  color: aliceblue; }

#footer {
  grid-area: f;
  background-color: bisque;
  font-family: "Bitter", serif;
  font-size: 6rem; }
  #footer a {
    font-family: "Bitter", serif;
    font-size: 3rem;
    position: relative;
    right: -40%;
    top: -0%;
    margin: 3rem; }

.estilotabla {
  border: 1px solid;
  background-color: bisque;
  padding: 8px; }

.estilotabla:hover {
  background-color: aquamarine;
  border: 2px solid; }

.tablaplanetas {
  grid-area: tablaplanetas;
  background-color: burlywood;
  font-family: "Mulish", sans-serif;
  font-size: 3rem;
  padding: 10px; }
  .tablaplanetas__tabla {
    padding: 5px;
    position: relative;
    right: -20%; }
  .tablaplanetas__titulo {
    font-family: "Bitter", serif;
    font-size: 5rem;
    padding: 5px;
    position: relative;
    right: -35%;
    color: aliceblue; }
  .tablaplanetas #dibujartabla {
    font-family: "Bitter", serif;
    font-size: 3rem;
    position: relative;
    right: -40%;
    top: -0%;
    margin: 3rem; }

.resultado {
  grid-area: resultado; }

#botoncalculofinal {
  position: relative;
  right: -40%;
  padding: 8px;
  margin: 10px; }

.formcasas {
  grid-area: formcasas;
  background-color: rgba(6, 0, 58, 0.987); }
  .formcasas p {
    font-family: "Work Sans", sans-serif;
    font-size: 2.3rem;
    font-weight: 900; }
  .formcasas__lista {
    padding: 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    right: -5%; }
    .formcasas__lista__ascendente {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(208, 167, 3, 0.659);
      width: 30%;
      font-family: "Montserrat", sans-serif;
      font-size: 2.3rem;
      font-weight: 900; }
    .formcasas__lista__marte {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(252, 30, 30, 0.659);
      width: 30%;
      width: p;
        width-font-family: "Work Sans", sans-serif;
        width-font-size: 4rem;
        width-font-weight: 900; }
      .formcasas__lista__marte__titulo {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__marte__regente {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__marte__grado {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__marte__gradoinput {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__marte__selectsignos {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__marte__selectcasas {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
    .formcasas__lista__venus {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(255, 1, 225, 0.549);
      width: 30%; }
      .formcasas__lista__venus p {
        font-family: "Work Sans", sans-serif;
        font-size: 2.3rem;
        font-weight: 900; }
      .formcasas__lista__venus__titulo {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__venus__regente {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__venus__grado {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        font-weight: 900; }
      .formcasas__lista__venus__gradoinput {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__venus__selectsignos {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__venus__selectcasas {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
    .formcasas__lista__saturno {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(43, 153, 0, 0.583);
      width: 30%; }
      .formcasas__lista__saturno p {
        font-family: "Work Sans", sans-serif;
        font-size: 2.3rem;
        font-weight: 900; }
      .formcasas__lista__saturno__titulo {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__saturno__regente {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__saturno__grado {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        font-weight: 900; }
      .formcasas__lista__saturno__gradoinput {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__saturno__selectsignos {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__saturno__selectcasas {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
    .formcasas__lista__mercurio {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(15, 191, 255, 0.727);
      width: 30%; }
      .formcasas__lista__mercurio p {
        font-family: "Work Sans", sans-serif;
        font-size: 2.3rem;
        font-weight: 900; }
      .formcasas__lista__mercurio__titulo {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__mercurio__regente {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__mercurio__grado {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        font-weight: 900; }
      .formcasas__lista__mercurio__gradoinput {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__mercurio__selectsignos {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__mercurio__selectcasas {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
    .formcasas__lista__luna {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(255, 255, 255, 0.727);
      width: 30%; }
      .formcasas__lista__luna p {
        font-family: "Work Sans", sans-serif;
        font-size: 2.3rem;
        font-weight: 900; }
      .formcasas__lista__luna__titulo {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__luna__regente {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__luna__grado {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        font-weight: 900; }
      .formcasas__lista__luna__gradoinput {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__luna__selectsignos {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__luna__selectcasas {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
    .formcasas__lista__sol {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(255, 226, 11, 0.727);
      width: 30%; }
      .formcasas__lista__sol p {
        font-family: "Work Sans", sans-serif;
        font-size: 2.3rem;
        font-weight: 900; }
      .formcasas__lista__sol__titulo {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__sol__regente {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__sol__grado {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        font-weight: 900; }
      .formcasas__lista__sol__gradoinput {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__sol__selectsignos {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__sol__selectcasas {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
    .formcasas__lista__jupiter {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(0, 60, 255, 0.987);
      width: 30%; }
      .formcasas__lista__jupiter p {
        font-family: "Work Sans", sans-serif;
        font-size: 2.3rem;
        font-weight: 900; }
      .formcasas__lista__jupiter__titulo {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__jupiter__regente {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__jupiter__grado {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        font-weight: 900; }
      .formcasas__lista__jupiter__gradoinput {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__jupiter__selectsignos {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__jupiter__selectcasas {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
    .formcasas__lista__urano {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(113, 24, 255, 0.623);
      width: 30%; }
      .formcasas__lista__urano p {
        font-family: "Work Sans", sans-serif;
        font-size: 2.3rem;
        font-weight: 900; }
      .formcasas__lista__urano__titulo {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__urano__regente {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__urano__grado {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        font-weight: 900; }
      .formcasas__lista__urano__gradoinput {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__urano__selectsignos {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__urano__selectcasas {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
    .formcasas__lista__neptuno {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(7, 168, 255, 0.837);
      width: 30%; }
      .formcasas__lista__neptuno p {
        font-family: "Work Sans", sans-serif;
        font-size: 2.3rem;
        font-weight: 900; }
      .formcasas__lista__neptuno__titulo {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__neptuno__regente {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__neptuno__grado {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        font-weight: 900; }
      .formcasas__lista__neptuno__gradoinput {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__neptuno__selectsignos {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__neptuno__selectcasas {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
    .formcasas__lista__pluton {
      border: solid 1px black;
      border-radius: 5px;
      padding: 3%;
      background-color: rgba(89, 89, 89, 0.576);
      width: 30%; }
      .formcasas__lista__pluton p {
        font-family: "Work Sans", sans-serif;
        font-size: 2.3rem;
        font-weight: 900; }
      .formcasas__lista__pluton__titulo {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__pluton__regente {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; }
      .formcasas__lista__pluton__grado {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        font-weight: 900; }
      .formcasas__lista__pluton__gradoinput {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__pluton__selectsignos {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }
      .formcasas__lista__pluton__selectcasas {
        font-family: "Work Sans", sans-serif;
        font-size: 3rem;
        font-weight: 900; }

.resultadosanteriores {
  background-color: #000844; }
  .resultadosanteriores__p1 {
    color: aliceblue; }
  .resultadosanteriores__div1 {
    display: flex;
    flex-direction: row; }
    .resultadosanteriores__div1__nombre {
      color: aliceblue;
      margin: 3rem; }
    .resultadosanteriores__div1__apellido {
      color: aliceblue;
      margin: 3rem; }
    .resultadosanteriores__div1__inputnombre {
      height: 6rem; }
    .resultadosanteriores__div1__inputapellido {
      height: 6rem; }
  .resultadosanteriores__titulo {
    font-family: "Bitter", serif;
    font-size: 5rem;
    padding: 5px;
    position: relative;
    right: -35%;
    color: aliceblue; }
  .resultadosanteriores__div {
    padding: 20px; }
    .resultadosanteriores__div__titulo1 {
      color: aliceblue;
      text-decoration: underline; }
    .resultadosanteriores__div__titulo2 {
      color: aliceblue;
      text-decoration: underline; }
    .resultadosanteriores__div__titulo3 {
      color: aliceblue;
      text-decoration: underline; }
    .resultadosanteriores__div__titulo4 {
      color: aliceblue;
      text-decoration: underline; }

#resultadosanteriores__div1__button {
  font-family: "Bitter", serif;
  font-size: 3rem;
  margin-left: 3rem;
  height: 6rem; }

#botoncalculofinal {
  font-size: 3rem;
  padding: 2px; }
