$titulos-planetas-font: 'Montserrat',
sans-serif;
$contenido-planetas-font: 'Work Sans',
sans-serif;
$headyfoot-font: 'Bitter',
serif;
$nombreyapellido-font: 'Work Sans',
sans-serif;
$tabla-contenido: 'Mulish',
sans-serif;
$tam-letra:(titulos: 5rem, titulos-planetas:4rem, contenido-planetas:3rem, headyfoot:6rem, nombreyapellido:3rem, intro:2rem, p:2.3rem, tabla:3rem, boton:3rem);
.root__element {
    font-size: 6px;
    overflow-x: hidden;
}

@mixin titulos {
    font-family: $headyfoot-font;
    font-size: map-get($tam-letra, titulos);
    padding: 5px;
    position: relative;
    right: -35%;
    color: aliceblue;
}

@mixin casillasPlanetas($background-color) {
    border: solid 1px black;
    border-radius: 5px;
    padding: 3%;
    background-color: $background-color;
    width: 30%;
}

.gridindex {
    display: grid;
    grid-template-areas: "h" "main" "footer";
    grid-template-rows: 0.1fr auto 0.1fr;
    grid-template-columns: 100%;
    overflow-y: hidden;
}

.headerindex {
    grid-area: h;
}

.mainindex {
    grid-area: main;
}

.intro1 {}

.mainindex__section1 {
    .mainindex__section1__div1 {
        display: grid;
        grid-template-areas: "uno dos";
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr;
        .mainindex__section1__div1__div2 {
            grid-area: uno;
            .mainindex__section1__div1__div2__descripcion {}
            .mainindex__section1__div1__div2__p {}
        }
        .mainindex__section1__div1__div {
            grid-area: dos;
            .mainindex__section1__div1__div__descripcion {}
            .mainindex__section1__div1__div__descripcion {}
            .mainindex__section1__div1__div__p {}
        }
    }
}

.footerindex {
    grid-area: footer;
}