$titulos-planetas-font: 'Montserrat',
sans-serif;
$contenido-planetas-font: 'Work Sans',
sans-serif;
$headyfoot-font: 'Bitter',
serif;
$nombreyapellido-font: 'Work Sans',
sans-serif;
$tabla-contenido: 'Mulish',
sans-serif;
$tam-letra:(titulos: 5rem, titulos-planetas:4rem, contenido-planetas:3rem, headyfoot:6rem, nombreyapellido:3rem, intro:2rem, p:2.3rem, tabla:3rem, boton:3rem);
.root__element {
    font-size: 6px;
    overflow-x: hidden;
}

@mixin titulos {
    font-family: $headyfoot-font;
    font-size: map-get($tam-letra, titulos);
    padding: 5px;
    position: relative;
    right: -35%;
    color: aliceblue;
}

@mixin casillasPlanetas($background-color) {
    border: solid 1px black;
    border-radius: 5px;
    padding: 3%;
    background-color: $background-color;
    width: 30%;
}

#grilla1CA {
    display: grid;
    grid-template-areas: "h" "mainCA" "f";
    grid-template-rows: 150px auto 0.1fr;
    grid-template-columns: 100%;
    overflow-y: hidden;
}

#mainCA {
    height: 100%;
    grid-area: mainCA;
    display: grid;
    grid-template-areas: "intro" "nombreapellidoyfecha" "formcasas" "resultadosexternos" "tablaplanetas" "resultado" "paper" "resultadosanteriores";
    grid-template-rows: 0.15fr 0.3fr 3fr auto auto 0fr auto 0.8fr;
    grid-template-columns: 100%;
}

.resultadosExternos {
    background-color: rgba(0, 133, 250, 0.844);
    &__div {
        &__regentes {
            &__titulo {
                font-family: $nombreyapellido-font;
                font-size: 5rem;
            }
            &__div2 {
                &__titulo {
                    font-family: $nombreyapellido-font;
                    font-size: map-get($tam-letra, titulos-planetas);
                }
                &__UL {
                    font-family: $nombreyapellido-font;
                    font-size: map-get($tam-letra, contenido-planetas);
                }
            }
        }
        &__titulo {
            font-family: $nombreyapellido-font;
            font-size: 5rem;
        }
        &__titulo2 {
            font-family: $nombreyapellido-font;
            font-size: 5rem;
        }
        &__conjunciones {
            &__titulo {
                font-family: $nombreyapellido-font;
                font-size: 5rem;
            }
            &__div2 {
                &__ul {
                    font-family: $nombreyapellido-font;
                    font-size: map-get($tam-letra, contenido-planetas);
                }
            }
        }
        &__div2 {
            &__casa1 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa2 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa3 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa4 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa5 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa6 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa7 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa8 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa9 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa10 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa11 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa12 {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__casa1UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa2UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa3UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa4UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa5UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa6UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa7UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa8UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa9UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa10UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa11UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
            &__casa12UL {
                font-family: $nombreyapellido-font;
                font-size: map-get($tam-letra, contenido-planetas);
            }
        }
    }
}

.resultadosExternos {
    grid-area: resultadosexternos;
}

.dibujocarta {
    grid-area: paper;
    background-color: rgba(0, 0, 225, 0.392);
    &__titulo {
        @include titulos;
    }
    #dibujarcarta {
        font-family: $headyfoot-font;
        font-size: map-get($tam-letra, boton);
        position: relative;
        right: -40%;
        top: -0%;
        margin: 3rem;
    }
}

.resultadosanteriores {
    overflow: scroll;
    grid-area: resultadosanteriores;
    font-family: $contenido-planetas-font;
    font-size: map-get($tam-letra, p);
    font-weight: 900;
    &__titulo {
        @include titulos;
    }
    input,
    h5 {
        font-size: map-get($tam-letra, p);
        font-weight: 900;
    }
}

#header {
    grid-area: h;
    background-color: #002f6d;
    height: auto;
    &__titulo {
        font-family: $headyfoot-font;
        font-size: map-get($tam-letra, headyfoot);
    }
    img {
        width: 180px;
        height: 180px;
    }
}

#exampleModalLong {
    font-family: $tabla-contenido;
    font-size: 5rem;
}

.resultadosAnterioresBusqueda {
    color: blue;
    font-size: 10px;
    font-style: italic;
}

.intro {
    grid-area: intro;
    background-color: darkgray;
    p,
    a {
        font-family: $contenido-planetas-font;
        font-size: map-get($tam-letra, intro);
        font-weight: 900;
        width: 80%;
        position: relative;
        right: -10%;
    }
}

.nombreapellidoyfecha {
    grid-area: nombreapellidoyfecha;
    background-color: #002f6dd4;
    font-family: $nombreyapellido-font;
    font-size: map-get($tam-letra, nombreyapellido);
    font-weight: 900;
    &__titulo {
        @include titulos;
    }
    &__div {
        padding: 20px;
        display: flex;
        flex-direction: row;
        input {
            font-size: map-get($tam-letra, nombreyapellido);
            font-weight: 900;
            padding: 10px;
        }
        p {
            padding: 10px;
        }
    }
}

.titulotradu {
    font-family: $headyfoot-font;
    font-size: map-get($tam-letra, titulos);
    padding: 5px;
    position: relative;
    right: -35%;
    color: aliceblue;
}

.ptradu {
    padding: 3px;
    width: 85%;
    position: relative;
    right: -10%;
    color: aliceblue;
}

#footer {
    grid-area: f;
    background-color: bisque;
    font-family: $headyfoot-font;
    font-size: map-get($tam-letra, headyfoot);
    a {
        font-family: $headyfoot-font;
        font-size: map-get($tam-letra, boton);
        position: relative;
        right: -40%;
        top: -0%;
        margin: 3rem;
    }
}

.estilotabla {
    border: 1px solid;
    background-color: bisque;
    padding: 8px;
}

.estilotabla:hover {
    background-color: aquamarine;
    border: 2px solid;
}

.tablaplanetas {
    grid-area: tablaplanetas;
    background-color: burlywood;
    font-family: $tabla-contenido;
    font-size: map-get($tam-letra, tabla);
    padding: 10px;
    &__tabla {
        padding: 5px;
        position: relative;
        right: -20%;
    }
    &__titulo {
        @include titulos;
    }
    #dibujartabla {
        font-family: $headyfoot-font;
        font-size: map-get($tam-letra, boton);
        position: relative;
        right: -40%;
        top: -0%;
        margin: 3rem;
    }
}

.resultado {
    grid-area: resultado;
}

#botoncalculofinal {
    position: relative;
    right: -40%;
    padding: 8px;
    margin: 10px;
}

.formcasas {
    grid-area: formcasas;
    background-color: rgba(6, 0, 58, 0.987);
    p {
        font-family: $contenido-planetas-font;
        font-size: map-get($tam-letra, p);
        font-weight: 900;
    }
    &__lista {
        padding: 2rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        right: -5%;
        &__ascendente {
            @include casillasPlanetas(rgba(208, 167, 3, 0.659));
            font-family: $titulos-planetas-font;
            font-size: map-get($tam-letra, p);
            font-weight: 900;
        }
        &__marte {
            @include casillasPlanetas(rgba(252, 30, 30, 0.659));
            width: p {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
                font-weight: 900;
            }
            &__titulo {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__regente {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__grado {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__gradoinput {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectsignos {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectcasas {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
        }
        &__venus {
            @include casillasPlanetas(rgba(255, 1, 225, 0.549));
            p {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, p);
                font-weight: 900;
            }
            &__titulo {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__regente {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__grado {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
                font-weight: 900;
            }
            &__gradoinput {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectsignos {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectcasas {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
        }
        &__saturno {
            @include casillasPlanetas(rgba(43, 153, 0, 0.583));
            p {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, p);
                font-weight: 900;
            }
            &__titulo {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__regente {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__grado {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
                font-weight: 900;
            }
            &__gradoinput {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectsignos {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectcasas {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
        }
        &__mercurio {
            @include casillasPlanetas(rgba(15, 191, 255, 0.727));
            p {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, p);
                font-weight: 900;
            }
            &__titulo {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__regente {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__grado {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
                font-weight: 900;
            }
            &__gradoinput {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectsignos {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectcasas {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
        }
        &__luna {
            @include casillasPlanetas(rgba(255, 255, 255, 0.727));
            p {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, p);
                font-weight: 900;
            }
            &__titulo {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__regente {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__grado {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
                font-weight: 900;
            }
            &__gradoinput {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectsignos {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectcasas {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
        }
        &__sol {
            @include casillasPlanetas(rgba(255, 226, 11, 0.727));
            p {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, p);
                font-weight: 900;
            }
            &__titulo {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__regente {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__grado {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
                font-weight: 900;
            }
            &__gradoinput {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectsignos {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectcasas {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
        }
        &__jupiter {
            @include casillasPlanetas(rgba(0, 60, 255, 0.987));
            p {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, p);
                font-weight: 900;
            }
            &__titulo {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__regente {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__grado {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
                font-weight: 900;
            }
            &__gradoinput {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectsignos {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectcasas {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
        }
        &__urano {
            @include casillasPlanetas(rgba(113, 24, 255, 0.623));
            p {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, p);
                font-weight: 900;
            }
            &__titulo {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__regente {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__grado {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
                font-weight: 900;
            }
            &__gradoinput {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectsignos {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectcasas {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
        }
        &__neptuno {
            @include casillasPlanetas(rgba(7, 168, 255, 0.837));
            p {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, p);
                font-weight: 900;
            }
            &__titulo {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__regente {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__grado {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
                font-weight: 900;
            }
            &__gradoinput {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectsignos {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectcasas {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
        }
        &__pluton {
            @include casillasPlanetas(rgba(89, 89, 89, 0.576));
            p {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, p);
                font-weight: 900;
            }
            &__titulo {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__regente {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
            }
            &__grado {
                font-family: $titulos-planetas-font;
                font-size: map-get($tam-letra, titulos-planetas);
                font-weight: 900;
            }
            &__gradoinput {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectsignos {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
            &__selectcasas {
                font-family: $contenido-planetas-font;
                font-size: map-get($tam-letra, contenido-planetas);
                font-weight: 900;
            }
        }
    }
}

.resultadosanteriores {
    background-color: #000844;
    &__p1 {
        color: aliceblue;
    }
    &__div1 {
        display: flex;
        flex-direction: row;
        &__nombre {
            color: aliceblue;
            margin: 3rem;
        }
        &__apellido {
            color: aliceblue;
            margin: 3rem;
        }
        &__inputnombre {
            height: 6rem;
        }
        &__inputapellido {
            height: 6rem;
        }
    }
    &__titulo {
        @include titulos;
    }
    &__div {
        padding: 20px;
        &__titulo1 {
            color: aliceblue;
            text-decoration: underline;
        }
        &__titulo2 {
            color: aliceblue;
            text-decoration: underline;
        }
        &__titulo3 {
            color: aliceblue;
            text-decoration: underline;
        }
        &__titulo4 {
            color: aliceblue;
            text-decoration: underline;
        }
    }
}

#resultadosanteriores__div1__button {
    font-family: $headyfoot-font;
    font-size: map-get($tam-letra, boton);
    margin-left: 3rem;
    height: 6rem;
}

#botoncalculofinal {
    font-size: map-get($tam-letra, boton);
    padding: 2px;
}

//Solo en calcu API
#nombreapellidoyfechaAPI {
    padding: 30px;
}

#divdatos {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
        padding: 10px;
    }
}

#textofecha {
    font-size: 2.5rem;
    width: 90%;
}

#nombre {
    height: 6rem;
}

#apellido {
    height: 6rem;
}

#lat {
    width: 12rem;
    height: 6rem;
}

#long {
    width: 12rem;
    height: 6rem;
}

#ciudades {
    height: 6rem;
}

#paises {
    height: 6rem;
}

#day {
    width: 12rem;
    height: 6rem;
}

#month {
    width: 12rem;
    height: 6rem;
}

#year {
    width: 12rem;
    height: 6rem;
}

#hora {
    width: 12rem;
    height: 6rem;
}

#minutos {
    width: 12rem;
    height: 6rem;
}

#dibujarcarta2 {
    font-size: 1rem;
}

#dibujartabla1 {
    font-size: 1rem;
}